*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  position: relative;
  background-image: url("/Images/Backgrounds/SVG/dalmatian-spots-dark.svg");
  background-position: center;
  background-repeat: repeat;
  color: white;
}

.border {
  width: 100%;
  height: 100%;
  border: 5vh solid;
  border-image-source: url("/Images/Backgrounds/Borders/classic-border.png");
  border-image-slice: 36 40 40 34;
  border-image-width: 5vh;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: stretch stretch;
  overflow: scroll;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */

}

.border::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

header {
  position: absolute;
  top: 5vh;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
}

.bulb_div img {
  width: calc(100vw / 14);
  max-width: 50px;
  display: inline-block;
  animation: twinkle 1.5s linear 0s infinite alternate;

}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  margin-top: 0px;
}


main h2 {
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 6rem;
  text-align: center;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
  text-shadow: 1px 1px 4px #ffc0cb, -1px -1px 4px #ffc0cb;
}

main h2:hover{
  animation: elastic 0.3s;
}

.banner{
  width: 90%;
  max-width: 700px;
}

.banner img{
  width: 100%;
}



@keyframes elastic {
  0%{
    transform: scaleX(1);
  }
  60%{
    transform: scaleX(1.3); 
  }
  90%{
    transform: scaleX(0.8);
  }
  95%{
    transform: scaleX(1.15);
  }
  100%{
    transform: scaleX(1);
  }
}

/* CARD*/

.card {
  width: 275px;
  height: 350px;
  transition: all 0.2s;
  position: relative;
  cursor: pointer;
}

.card-inner {
  width: inherit;
  height: inherit;
  /* background: rgba(255,255,255,.05); */
  background: url('/Images/Heroine.jpg');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  backdrop-filter: blur(10px);
  border-radius: 8px;
}

.card:hover {
  transform: scale(1.04) rotate(1deg);
}

.circle {
  width: 100px;
  height: 100px;
  background: radial-gradient(#ffc0cb, #974d59);
  border-radius: 50%;
  position: absolute;
  animation: move-up6 1s ease-in infinite alternate-reverse;
}

.card:hover .circle{
  background: radial-gradient(#fa99a9, #a92d42);
}

.circle:nth-child(1) {
  top: -25px;
  left: -25px;
}

.circle:nth-child(2) {
  bottom: -25px;
  right: -25px;
  animation-name: move-down1;
}

@keyframes move-up6 {
  to {
    transform: translateY(-10px);
  }
}

@keyframes move-down1 {
  to {
    transform: translateY(10px);
  }
}
/* CARD*/

.content{
  margin: auto 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.content .cta{
  color: white;
  padding: 20px;
  font-family: Poppins;
  max-width: 700px;
  border-radius: 5px;
  background: rgba(255,255,255,.05);
  box-shadow: 0.5px 0.5px 5px rgba(255,255,255,0.5);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  transition: 0.3s ease-in;
  transition-property: backdrop-filter, box-shadow;
}

.content .cta:hover{
  backdrop-filter: blur(25px);
  box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
}

.content h3{
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 600;
  margin-bottom: 15px;
}


.content p{
  font-size: 1rem;
  font-weight: 500;
}

/* CTA Button */
.button-52 {
  font-size: 16px;
  font-weight : 500;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid #ffc0cb;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  font-family: 'Poppins';
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-52:after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}

/* CTA Buttom */


@keyframes twinkle {
  0%{
    opacity: 0.1;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0.1;
  }
}

.red{
  filter: invert(22%) sepia(82%) saturate(1621%) hue-rotate(324deg) brightness(89%) contrast(91%);
}

@media screen and (max-width: 480px){
  main h2{
    font-size: 4rem;
  }
}